.place-item {
    margin: 1rem 0;
    color: rgb(218, 208, 208);
}

.place-item i {
    filter: invert();
    margin-bottom: 1.2rem;
}

.place-item__content {
    padding: 0;
}

.place-item__info {
    padding: 1rem;
    text-align: center;
    background: rgb(117, 111, 212);
    background: linear-gradient(
        90deg,
        rgba(117, 111, 212, 1) 0%,
        rgba(137, 137, 179, 1) 35%,
        rgba(39, 150, 182, 1) 78%,
        rgba(35, 199, 232, 1) 100%
    );
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.place-item__image {
    width: 100%;
    height: 12.5rem;
    margin-right: 1.5rem;
}

.place-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
    margin: 0 0 0.5rem 0;
}

.place-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
    background: rgb(142, 50, 228);
}

.place-item__actions button:first-of-type {
    background-color: brown;
    border-color: brown;
    transition: all 0.1s;
}

.place-item__actions button:first-of-type:hover {
    background-color: rgb(201, 60, 60);
    border-color: brown;
    transition: all 0.1s;
    filter: contrast(1.1);
}

.place-item__modal-content {
    padding: 0;
}

.place-item__modal-actions {
    text-align: right;
}

.place-item__actions button,
.place-item__actions a {
    margin: 0.5rem;
    filter: contrast(0.8);
}

@media (min-width: 768px) {
    .place-item__image {
        height: 20rem;
    }
}
