@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    background: #4d4d4d !important;
}

.place-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 45rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
